.search-container {
    display: inline-block;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    font-size: 1rem;
}

.search-input {
    padding-left: 35px;
    border: none;
    box-shadow: none;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.c-btn {
    background: #fff;
    border: 1px solid #6f42c1;
    border-radius: 20px;
    padding: 10px 20px;
    color: #6f42c1;
  }

.c-form-btn {
    background: linear-gradient(to right, #6f42c1, #a445b2);
    border: 1px solid #6f42c1;
    border-radius: 20px;
    padding: 10px 45px;
    color: #fff;
  }

a {
    color: #6f42c1;
}

.dashboard-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}